* {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2';
}
html {
  font-size: 18px;
}
body {
  background: url("../media/web.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
}
header {
  height: 100px;
  padding-top: 30px;
  background: url("../media/headerbg5.png") no-repeat;
  background-size: cover;
  border: 5px outset black;
}
header h1 {
  text-align: center;
  padding-top: 10px;
  font-family: Monoton;
  color: black;
}
nav {
  display: block;
  width: 100%;
  padding-top: 5px;
  background-color: black;
  height: 40px;
}

figure.image {
  /* min-width: 400px;
  max-width: 600px; */
  width: 650px;
  height: 550px;
  border: 3px solid black;
}

figure img {
  width: 100%;
  height: 100%;
}

div {
  line-height: 30px;
}

nav a {
  display: inline-block;
  color: white;
  font-family: Monoton;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}

a.currentNav {
  color: yellow;
}

div.howItWorks {
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "image content content";
  grid-column-gap: 20px;
  padding-bottom: 20px;
}
figure.image {
  grid-area: image;
  /* padding: 10px; */
  margin-left: 10px;
  margin-top: 20px;
}
div.workingContent {
  grid-area: content;
  padding: 0 10px;
  text-align: justify;
  min-width: 350px;
  background-color: #821C07;
  color:white;
  margin-top: 13px;
}

h2 {
  padding: 10px 20px;
  background-color: #361d8e;
  color:#ffbc46;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

div.requestTypes {
  padding: 20px;
  margin: 0 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "get post put delete";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

div.get {
  grid-area: get;
  background-color:#821C07;
  padding: 4%;
  text-align: justify;
  border: 2px outset grey;
  border-radius: 5px;
  color: white;
}

p.methodHeadings {
  text-align: center;
  font-weight: bolder;
  border-bottom: 1px solid grey;
  font-size: 1.3rem;
}

div.post {
  grid-area: post;
  background-color:#821C07;
  padding: 4%;
  text-align: justify;
  border: 2px outset grey;
  border-radius: 5px;
  color: white;
}

div.put {
  grid-area: put;
  background-color:#821C07;
  padding: 4%;
  text-align: justify;
  border: 2px outset grey;
  border-radius: 5px;
  color: white;
}

div.delete {
  grid-area: delete;
  background-color:#821C07;
  padding: 4%;
  text-align: justify;
  border: 2px outset grey;
  border-radius: 5px;
  color: white;
}
@media screen and (max-width: 1300px) {
  div.howItWorks {
    display: block;
  }
  figure.image{
    display: block;
    float: left;
    width: 600px;
    margin-right: 20px;
  }
  div.workingContent {
    display: block;
    padding: 10px;
  }
}
@media screen and (max-width: 1050px) {

  figure.image{
    display: block;
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 20%;
    margin-left: 20%;

  }
  div.workingContent {
    display: block;
    padding: 10px;

  }
  div.requestTypes {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "get post" "put delete";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  div.get {
    grid-area: get;
  }

  div.post {
    grid-area: post;
  }

  div.put {
    grid-area: put;
  }

  div.delete {
    grid-area: delete;
  }
}
@media screen and (max-width: 900px) {
  figure.image{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 20%;
    margin-left: 20%;

  }
  div.workingContent {
    display: inline-block;
    padding: 10px;

  }
  div.requestTypes {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "get post" "put delete";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  div.get {
    grid-area: get;
  }

  div.post {
    grid-area: post;
  }

  div.put {
    grid-area: put;
  }

  div.delete {
    grid-area: delete;
  }

}

@media screen and (max-width: 600px) {
  figure.image{
    display: inline-block;
    clear: both;
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20%;
    margin-left: 20%;
  }

  nav {
    height: auto;
  }

  div.workingContent {
    display: inline-Fblock;
    padding: 10px;

  }
  div.requestTypes {
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "get" "post" "put" "delete";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  div.get {
    grid-area: get;
  }

  div.post {
    grid-area: post;
  }

  div.put {
    grid-area: put;
  }

  div.delete {
    grid-area: delete;
  }

}
