* {
  border: 0;
  margin: 0;
  font-family: 'Exo 2'
}
html {
  font-size: 18px;
}
body {
  background-color: #313131
  line-height: 40px;
  background-color: #313131
}
nav {
  display: block;
  width: 100%;
  padding-top: 5px;
}

nav a {
  display: inline-block;
  color: white;
  font-family: Monoton;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}

figure {
  display: inline-block;
  width: 250px;
  height: 250px;
  position: absoluter;
  border: 5px outset black;
}

figure img {
  width: 100%;
  height: 100%;
}

header {
  height: 100px;
  padding-top: 30px;
  background-color: #313131;
  border: 5px outset black;
}
header h1 {
  text-align: center;
  padding-top: 10px;
  font-family: Monoton;
  color: white;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "oneText oneText oneImage"
  "twoImage twoText twoText"
  "threeText threeText threeImage"
  "fourImage fourText fourText"
  "fiveText fiveText fiveImage"
  "sixImage sixText sixText"
  "sevenText sevenText sevenImage"
  "eightImage eightText eightText"
  "nineText nineText nineImage"
  "tenImage tenText tenText";
  grid-column-gap: 2px;
  grid-row-gap: 10px;
  margin: 10px 10px 10px 10px;
}

div {
  overflow: scroll;
  border: 5px outset black;
  background-color: white;

}

div.descriptionContainerOne {
  grid-area: oneText;
    padding: 10px;
}

figure.One {
  grid-area: oneImage;

}

div.descriptionContainerTwo {
  grid-area: twoText;

  padding: 10px;
}

figure.Two {
  grid-area: twoImage;
}

div.descriptionContainerThree {
  grid-area: threeText;

  padding: 10px;
}

figure.Three {
  grid-area: threeImage;
}

div.descriptionContainerFour {
  grid-area: fourText;

  padding: 10px;
}

figure.Four {
  grid-area: fourImage;
}
div.descriptionContainerFive {
  grid-area: fiveText;

  padding: 10px;
}

figure.Five {
  grid-area: fiveImage;
}
div.descriptionContainerSix {
  grid-area: sixText;

  padding: 10px;
}

figure.Six {
  grid-area: sixImage;
}
div.descriptionContainerSeven {
  grid-area: sevenText;

  padding: 10px;
}

figure.Seven {
  grid-area: sevenImage;
}
div.descriptionContainerEight {
  grid-area: eightText;

  padding: 10px;
}

figure.Eight {
  grid-area: eightImage;
}
div.descriptionContainerNine {
  grid-area: nineText;

  padding: 10px;
}

figure.Nine {
  grid-area: nineImage;
}
div.descriptionContainerTen {
  grid-area: tenText;

  padding: 10px;
}

figure.Ten {
  grid-area: tenImage;
}
