* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
}
html {
  font-size: 16px;
}
body {
  background-color: #313131;
}

main {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 200px 200px 200px 200px 200px 200px;
  grid-template-areas: ". one . two ."
  "three . four . five"
  ". six . seven . "
  "eight . nine . ten"
  ". eleven . twelve ."
  "thirteen . fourteen . fifteen";
  grid-column-gap: 2px;
  margin: 10px 10px 10px 10px;
}

nav {
  display: block;
  width: 100%;
  padding-top: 5px;
  background-color: black;
  height: 40px;
}

nav a {
  display: inline-block;
  color: white;
  font-family: Monoton;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}

a.currentNav {
  color: yellow;
}

header {
  height: 100px;
  padding-top: 30px;
  background-color: #313131;
  border: 5px outset black;
}
header h1 {
  text-align: center;
  padding-top: 10px;
  font-family: Monoton;
  color: white;
}

.termHeadings {
  font-size: 1.5rem;
  text-align: center;
  background-color: #313131;
  color: white;
}

div {
  background-color: white;
  overflow: scroll;
  border: 5px outset white;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
  min-width: 150px;
  max-width: 200px;
}

div.term1 {
  grid-area: one;
  align-self: center;
}

div.term2 {
  grid-area: two;
  align-self: center;
}

div.term3 {
  grid-area: three;
  align-self: center;
}

div.term4 {
  grid-area: four;
  align-self: center;
}

div.term5 {
  grid-area: five;
  align-self: center;
}

div.term6 {
  grid-area: six;
  align-self: center;
}

div.term7 {
  grid-area: seven;
  align-self: center;
}

div.term8 {
  grid-area: eight;
  align-self: center;
}

div.term9 {
  grid-area: nine;
  align-self: center;
}

div.term10 {
  grid-area: ten;
  align-self: center;
}

div.term11 {
  grid-area: eleven;
  align-self: center;
}

div.term12 {
  grid-area: twelve;
  align-self: center;
}

div.term13 {
  grid-area: thirteen;
  align-self: center;
}

div.term14 {
  grid-area: fourteen;
  align-self: center;
}

div.term15 {
  grid-area: fifteen;
  align-self: center;
}
@media screen and (max-width: 1150px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: "one two three"
    "four five six"
    "seven eight nine"
    "ten eleven twelve"
    "thirteen fourteen fifteen";
    grid-column-gap: 2px;
    grid-row-gap: 50px;
    margin: 10px 10px 10px 10px;
  }
  div.term1 {
    grid-area: one;
    align-self: center;
  }

  div.term2 {
    grid-area: two;
    align-self: center;
  }

  div.term3 {
    grid-area: three;
    align-self: center;
  }

  div.term4 {
    grid-area: four;
    align-self: center;
  }

  div.term5 {
    grid-area: five;
    align-self: center;
  }

  div.term6 {
    grid-area: six;
    align-self: center;
  }

  div.term7 {
    grid-area: seven;
    align-self: center;
  }

  div.term8 {
    grid-area: eight;
    align-self: center;
  }

  div.term9 {
    grid-area: nine;
    align-self: center;
  }

  div.term10 {
    grid-area: ten;
    align-self: center;
  }

  div.term11 {
    grid-area: eleven;
    align-self: center;
  }

  div.term12 {
    grid-area: twelve;
    align-self: center;
  }

  div.term13 {
    grid-area: thirteen;
    align-self: center;
  }

  div.term14 {
    grid-area: fourteen;
    align-self: center;
  }

  div.term15 {
    grid-area: fifteen;
    align-self: center;
  }
}
@media screen and (max-width: 920px) {
  div {
    max-height: 200px;
  }
  main {
    padding-left: 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "one two"
    "three four"
    "five six"
    "seven eight"
    "nine ten"
    "elevel twelve"
    "thirteen .";
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    margin: 10px 10px 10px 10px;
  }
  div.term1 {
    grid-area: one;
    align-self: center;
  }

  div.term2 {
    grid-area: two;
    align-self: center;
  }

  div.term3 {
    grid-area: three;
    align-self: center;
  }

  div.term4 {
    grid-area: four;
    align-self: center;
  }

  div.term5 {
    grid-area: five;
    align-self: center;
  }

  div.term6 {
    grid-area: six;
    align-self: center;
  }

  div.term7 {
    grid-area: seven;
    align-self: center;
  }

  div.term8 {
    grid-area: eight;
    align-self: center;
  }

  div.term9 {
    grid-area: nine;
    align-self: center;
  }

  div.term10 {
    grid-area: ten;
    align-self: center;
  }

  div.term11 {
    grid-area: eleven;
    align-self: center;
  }

  div.term12 {
    grid-area: twelve;
    align-self: center;
  }

  div.term13 {
    grid-area: thirteen;
    align-self: center;
  }

  div.term14 {
    grid-area: fourteen;
    align-self: center;
  }

  div.term15 {
    grid-area: fifteen;
    align-self: center;
  }
}
@media screen and (max-width: 570px) {
  nav {
    height: auto;
  }
  main {
    padding-left: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine"
    "ten"
    "eleven"
    "twelve"
    "thirteen";
    grid-row-gap: 40px;
    margin: 10px;
  }
  div.term1 {
    grid-area: one;
    align-self: center;
  }

  div.term2 {
    grid-area: two;
    align-self: center;
  }

  div.term3 {
    grid-area: three;
    align-self: center;
  }

  div.term4 {
    grid-area: four;
    align-self: center;
  }

  div.term5 {
    grid-area: five;
    align-self: center;
  }

  div.term6 {
    grid-area: six;
    align-self: center;
  }

  div.term7 {
    grid-area: seven;
    align-self: center;
  }

  div.term8 {
    grid-area: eight;
    align-self: center;
  }

  div.term9 {
    grid-area: nine;
    align-self: center;
  }

  div.term10 {
    grid-area: ten;
    align-self: center;
  }

  div.term11 {
    grid-area: eleven;
    align-self: center;
  }

  div.term12 {
    grid-area: twelve;
    align-self: center;
  }

  div.term13 {
    grid-area: thirteen;
    align-self: center;
  }

  div.term14 {
    grid-area: fourteen;
    align-self: center;
  }

  div.term15 {
    grid-area: fifteen;
    align-self: center;
  }
}
