* {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "one two three"
  "four five six"
  "seven eight nine"
  "ten eleven twelve"
  "thirteen fourteen fifteen";
  grid-column-gap: 2px;
  margin: 10px 10px 10px 10px;
}

div.term1 {
  grid-area: one;
}
div.term2 {
  grid-area: two;
}
div.term3 {
  grid-area: three;
}
div.term4 {
  grid-area: four;
}
div.term5 {
  grid-area: five;
}
div.term6 {
  grid-area: six;
}
div.term7 {
  grid-area: seven;
}
div.term8 {
  grid-area: eight;
}
div.term9 {
  grid-area: nine;
}
div.term10 {
  grid-area: ten;
}
div.term11 {
  grid-area: eleven;
}
div.term12 {
  grid-area: twelve;
}
div.term13 {
  grid-area: thirteen;
}
div.term14 {
  grid-area: fourteen;
}
div.term15 {
  grid-area: fifteen;
}
